{% extends "base_nomad.html" %}

{% block content %}
<h1>{{ object.name }}</h1>
<br>
<li>Coworking Spaces : 
    <ul>
        {% for coworking in object.coworking_set.all %}
            <li><a href="{% url 'nomad:coworking_detail' coworking.id %}">{{ coworking.name }}</a></li>
        {% endfor %}
    </ul>
</li>
<li>Accommodations : 
    <ul>
        {% for accommodation in object.accommodation_set.all %}
            <li><a href="{% url 'nomad:accommodation_detail' accommodation.id %}">{{ accommodation.name }}</a></li>
        {% endfor %}
    </ul>
</li>
{% endblock content %}